In [262]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [263]:
data = pd.read_csv('/Users/idiamond/1 data science/Files/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
593,tt0246544,40000000,27053815,The Musketeer,Catherine Deneuve|Mena Suvari|Stephen Rea|Tim ...,Peter Hyams,As you've never seen it before.,In Peter Hyams's adaptation of the famous Alex...,104,Action|Adventure|Drama,Crystal Sky Worldwide|MDP Worldwide|ApolloMedi...,9/7/2001,5.1,2001
1814,tt0200550,45000000,113916474,Coyote Ugly,Piper Perabo|Adam Garcia|John Goodman|Izabella...,David McNally,This party never ends.,"Graced with a velvet voice, 21-year-old Violet...",100,Comedy,Jerry Bruckheimer Films|Touchstone Pictures,7/30/2000,6.0,2000
1475,tt0397078,28000000,38159905,Just My Luck,Lindsay Lohan|Samaire Armstrong|Chris Pine|Mis...,Donald Petrie,Everything changed in the wink of an eye.,Manhattanite Ashley is known to many as the lu...,103,Comedy|Drama|Family|Fantasy|Romance,Regency Enterprises|Cheyenne Enterprises|New R...,5/12/2006,5.7,2006
314,tt1045772,13000000,10652035,I Love You Phillip Morris,Jim Carrey|Ewan McGregor|Leslie Mann|Rodrigo S...,Glenn Ficarra|John Requa,The Conman who wouldn't go straight.,Bad Santa co-screenwriters Glenn Ficara and Jo...,98,Comedy|Drama|Romance,EuropaCorp,1/18/2009,6.3,2009
131,tt1840309,85000000,288747895,Divergent,Shailene Woodley|Theo James|Kate Winslet|Miles...,Neil Burger,What makes you different makes you dangerous.,In a world divided into factions based on pers...,139,Action|Science Fiction|Thriller,Summit Entertainment|Red Wagon Entertainment,3/14/2014,6.9,2014

In [170]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# Предобработка

In [3]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data['revenue'] - data['budget']
import collections
#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [124]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)' # +
# если ответили верно, можете добавить комментарий со значком "+"

# тут пишем ваш код для решения данного вопроса:

In [4]:
data[data['budget']==data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [153]:
# можно добавлять разные варианты решения
data.loc[(data['budget'] == data['budget'].value_counts(bins=1).index[0].right)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [125]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)' # +

In [60]:
data[data['runtime']==data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [126]:
answers['3'] = 'Winnie the Pooh (tt1449283)' # +

In [61]:
data[data['runtime']==data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [173]:
answers['4'] = '110'

In [174]:
data.runtime.mean()

109.6585494970884

In [171]:
round(data.runtime.mean())

110

In [172]:
data.runtime.describe()

count    1889.000000
mean      109.658549
std        18.017041
min        63.000000
25%        97.000000
50%       107.000000
75%       120.000000
max       214.000000
Name: runtime, dtype: float64

# 5. Каково медианное значение длительности фильмов?

In [128]:
answers['5'] = '107'

In [175]:
data.runtime.median()

107.0

In [176]:
data.runtime.describe()

count    1889.000000
mean      109.658549
std        18.017041
min        63.000000
25%        97.000000
50%       107.000000
75%       120.000000
max       214.000000
Name: runtime, dtype: float64

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [95]:
# лучше код получения столбца profit вынести в Предобработку что в начале
# data['profit'] = data['revenue'] - data['budget'] внес в Предобработку

In [129]:
answers['6'] = 'Avatar (tt0499549)'

In [94]:
data[data['profit']==data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [130]:
answers['7'] = 'The Lone Ranger (tt1210819)'

In [96]:
data[data['profit']==data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [131]:
answers['8'] = '1478'

In [121]:
len(data[data['revenue'] > data['budget']])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [158]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [157]:
film_08 = data[data['release_year'] == 2008]
film_08[film_08['revenue'] == film_08.revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [60]:
films1214 = data[data['release_year'].isin([2012, 2013, 2014])]
films1214[films1214['profit'] == films1214.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [163]:
answers['10'] = 'The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [63]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
'''создание списка жанров(split), разбивка жанров 'по одному' (explode), 
пересчет всех жанров'''
data.genres.str.split('|').explode().value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

ВАРИАНТ 2

In [18]:
genre_max = Counter()
for genre in data.genres.str.split('|'):
    genre_max += Counter(genre)
genre_max.most_common(1)

[('Drama', 782)]

In [68]:
answers['11'] = 'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [67]:
data[(data.profit > 0)].genres.str.split('|').explode().describe()

count      3962
unique       18
top       Drama
freq        560
Name: genres, dtype: object

In [69]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [120]:
new_data = data.copy()
new_data['dirs'] = new_data['director'].str.split('|')
dirs_cut = new_data.explode('dirs')
group = dirs_cut.groupby(['dirs']).revenue.sum()
group.sort_values(ascending=False)

dirs
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

In [119]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [264]:
nd = data[data.genres.str.contains("Action")].copy()
nd['dirs'] = nd['director'].str.split('|')
dirs_cut = nd.explode('dirs')
dirs_cut['dirs'].value_counts(ascending=False)

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Antoine Fuqua         6
Ridley Scott          6
                     ..
David Leitch          1
Jim Gillespie         1
John Carpenter        1
Kurt Wimmer           1
JosÃ© Padilha         1
Name: dirs, Length: 364, dtype: int64

In [205]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [254]:
dd = data[(data['release_year'] == 2012)&(dd.revenue == dd.revenue.max())].copy()
dd['new_cast'] = dd['cast'].str.split('|')
cast_cut = dd.explode('new_cast')
cast_cut

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,new_cast
970,tt0848228,220000000,1519557910,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012,Robert Downey Jr.
970,tt0848228,220000000,1519557910,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012,Chris Evans
970,tt0848228,220000000,1519557910,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012,Mark Ruffalo
970,tt0848228,220000000,1519557910,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012,Chris Hemsworth
970,tt0848228,220000000,1519557910,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012,Scarlett Johansson

In [255]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [263]:
dd = data[data['budget'] > data['budget'].mean()].copy()
dd['new_cast'] = dd['cast'].str.split('|')
cast_cut = dd.explode('new_cast')
cast_cut['new_cast'].value_counts(ascending=False)

Matt Damon                18
Adam Sandler              17
Angelina Jolie            16
Tom Cruise                15
Eddie Murphy              15
                          ..
Roscoe Lee Browne          1
Tom Welling                1
Thomas Brodie-Sangster     1
Taylor Momsen              1
Max Minghella              1
Name: new_cast, Length: 1505, dtype: int64

In [260]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [269]:
dd = data[data.cast.str.contains("Nicolas Cage")].copy()
dd['new_genres'] = dd['genres'].str.split('|')
genres_cut = dd.explode('new_genres')
genres_cut['new_genres'].value_counts(ascending=False)

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Mystery             3
Family              3
History             2
Horror              1
War                 1
Romance             1
Name: new_genres, dtype: int64

In [ ]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [284]:
dd = data[data.production_companies.str.contains("Paramount Pictures")].copy()
dd[dd['profit'] == dd['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

In [288]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [325]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

In [326]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [331]:
dd = data[data.production_companies.str.contains("Warner Bros")].copy()
dd.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

In [332]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [534]:
dd = data.copy()
dd['release_date'] = pd.to_datetime(dd['release_date'])
dd['release_date'].dt.month.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

In [486]:
answers['21'] = 'Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [27]:
dd = data.copy()
dd['release_date'] = pd.to_datetime(dd['release_date'])
len(dd[(dd['release_date'].dt.month < 9)&(dd['release_date'].dt.month > 5)])

450

In [ ]:
dd = data.copy()
dd['release_date'] = pd.to_datetime(dd['release_date'])
dd[dd['release_date'].dt.month.isin(['6', '7', '8'])]

In [512]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [203]:
dw = data.copy()
dw['release_date'] = pd.to_datetime(dw['release_date'])
dw[dw['release_date'].dt.month.isin(['12', '1', '2'])]
dw['dirs'] = dw['director'].str.split('|')
dirs_cut = dw.explode('dirs')
dirs_cut['dirs'].value_counts(ascending=False)

Steven Soderbergh          13
Ridley Scott               12
Clint Eastwood             12
Robert Rodriguez           11
Shawn Levy                 10
                           ..
John Maybury                1
GrÃ©gory Levasseur          1
Jonathan M. Goldstein       1
Rawson Marshall Thurber     1
Cody Cameron                1
Name: dirs, Length: 997, dtype: int64

In [546]:
answers['23'] = 'Steven Soderbergh'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [229]:
dm = data.copy()
dm['len_title'] = dm['original_title'].apply(lambda row: len(row))
dm['new_companies'] = dm['production_companies'].str.split('|')
companies_cut = dm.explode('new_companies')
companies_cut.groupby(['new_companies'])['len_title'].mean().sort_values(ascending=False).head(5)

new_companies
Four By Two Productions      83.0
Jim Henson Company, The      59.0
Dos Corazones                47.0
Museum Canada Productions    46.0
Polsky Films                 46.0
Name: len_title, dtype: float64

In [ ]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [243]:
dw = data.copy()

dw['len_overview'] = dw['overview'].str.split(' ').apply(lambda row: len(row))

dw['new_companies'] = dw['production_companies'].str.split('|')
prod_cut = dw.explode('new_companies')
prod_cut.groupby(['new_companies'])['len_overview'].mean().sort_values(ascending=False).head(5)

new_companies
Midnight Picture Show               175.0
Room 9 Entertainment                161.0
Heineken Branded Entertainment      161.0
98 MPH Productions                  159.0
Brookwell-McNamara Entertainment    156.0
Name: len_overview, dtype: float64

In [ ]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [257]:
data.original_title.nunique()/100 # 1% от всех фильмов

18.87

In [261]:
data.groupby(['original_title'])['vote_average'].max().sort_values(ascending=False).head(18)

original_title
The Dark Knight                                  8.1
The Imitation Game                               8.0
Inside Out                                       8.0
Interstellar                                     8.0
Room                                             8.0
The Grand Budapest Hotel                         7.9
The Pianist                                      7.9
Guardians of the Galaxy                          7.9
Memento                                          7.9
The Wolf of Wall Street                          7.9
Inception                                        7.9
Gone Girl                                        7.9
12 Years a Slave                                 7.9
The Lord of the Rings: The Return of the King    7.9
Prisoners                                        7.8
The Fault in Our Stars                           7.8
Eternal Sunshine of the Spotless Mind            7.8
The Prestige                                     7.8
Name: vote_average, dtype: float64

In [ ]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [ ]:
from itertools import combinations

pairs_df = data.copy()
# pairs_df['cast'] = pairs_df['cast'].str.split('|')
# pairs_df['pairs'] = 
list_comb = list(combinations(pairs_df.cast.str.split('|'), 2))
# pairs_df
number = [0]*len(list_comb)
for pair_i in range(len(list_comb)):
    for pair_j in range(len(list_comb)):
        if list_comb[pair_j] == list_comb[pair_i]:
            number[pair_i] += 1
max(number)
pd.Series(list_comb).value_counts().index[0]

ВАРИАНТ 2

In [ ]:
pairs_df

# Submission

In [402]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'17': 'K-19: The Widowmaker (tt0267626)',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Декабрь'}

In [403]:
# и убедиться что ни чего не пропустил)
len(answers)

5