In [231]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [232]:
data = pd.read_csv('/Users/idiamond/1 data science/Files/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1666,tt0359517,12000000,31179516,Johnson Family Vacation,Cedric the Entertainer|Vanessa Williams|Steve ...,Christopher Erskin,Take the ride.,AAA can't help the roadside emergency that is ...,97,Comedy|Family,Fox Searchlight Pictures|Bird and a Bear Enter...,4/7/2004,5.3,2004
174,tt2004420,18000000,268157400,Neighbors,Seth Rogen|Zac Efron|Rose Byrne|Dave Franco|Ik...,Nicholas Stoller,Family vs. Frat,A couple with a newborn baby face unexpected d...,96,Comedy,Universal Pictures|Point Grey Pictures|Good Un...,5/8/2014,6.2,2014
1698,tt0481369,30000000,77566815,The Number 23,Jim Carrey|Virginia Madsen|Logan Lerman|Danny ...,Joel Schumacher,First it takes hold of your mind...then it tak...,Walter Sparrow is an animal control officer th...,101,Thriller|Drama|Mystery,New Line Cinema|Contrafilm|Firm Films,2/23/2007,6.2,2007
235,tt2039393,25000000,39171130,The Gambler,Mark Wahlberg|John Goodman|Brie Larson|Michael...,Rupert Wyatt,The only way out is all in,Literature professor and gambler Jim Bennett's...,111,Thriller|Crime|Drama,Paramount Pictures|Winkler Films,12/25/2014,5.6,2014
501,tt0126029,60000000,484409218,Shrek,Mike Myers|Eddie Murphy|Cameron Diaz|John Lith...,Andrew Adamson|Vicky Jenson,The greatest fairy tale never told.,It ain't easy bein' green -- especially if you...,90,Adventure|Animation|Comedy|Family|Fantasy,DreamWorks SKG|Pacific Data Images (PDI)|Dream...,5/16/2001,7.1,2001

In [170]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# Предобработка

In [274]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data['revenue'] - data['budget']
import collections
#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [124]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)' # +
# если ответили верно, можете добавить комментарий со значком "+"

# тут пишем ваш код для решения данного вопроса:

In [62]:
data[data['budget']==data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

ВАРИАНТ 2

In [59]:
# можно добавлять разные варианты решения
data.loc[(data['budget'] == data['budget'].value_counts(bins=1).index[0].right)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

# 2. Какой из фильмов самый длительный (в минутах)?

In [125]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)' # +

In [60]:
data[data['runtime']==data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [126]:
answers['3'] = 'Winnie the Pooh (tt1449283)' # +

In [61]:
data[data['runtime']==data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [173]:
answers['4'] = '110'

In [174]:
data.runtime.mean()

109.6585494970884

In [171]:
round(data.runtime.mean())

110

In [172]:
data.runtime.describe()

count    1889.000000
mean      109.658549
std        18.017041
min        63.000000
25%        97.000000
50%       107.000000
75%       120.000000
max       214.000000
Name: runtime, dtype: float64

# 5. Каково медианное значение длительности фильмов?

In [128]:
answers['5'] = '107'

In [175]:
data.runtime.median()

107.0

In [176]:
data.runtime.describe()

count    1889.000000
mean      109.658549
std        18.017041
min        63.000000
25%        97.000000
50%       107.000000
75%       120.000000
max       214.000000
Name: runtime, dtype: float64

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [95]:
# лучше код получения столбца profit вынести в Предобработку что в начале
# data['profit'] = data['revenue'] - data['budget'] внес в Предобработку

In [129]:
answers['6'] = 'Avatar (tt0499549)'

In [94]:
data[data['profit']==data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [130]:
answers['7'] = 'The Lone Ranger (tt1210819)'

In [96]:
data[data['profit']==data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [131]:
answers['8'] = '1478'

In [121]:
len(data[data['revenue'] > data['budget']])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [158]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [157]:
film_08 = data[data['release_year'] == 2008]
film_08[film_08['revenue'] == film_08.revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [60]:
films1214 = data[data['release_year'].isin([2012, 2013, 2014])]
films1214[films1214['profit'] == films1214.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [163]:
answers['10'] = 'The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [63]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
'''создание списка жанров(split), разбивка жанров 'по одному' (explode), 
пересчет всех жанров'''
data.genres.str.split('|').explode().value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

ВАРИАНТ 2

In [18]:
genre_max = Counter()
for genre in data.genres.str.split('|'):
    genre_max += Counter(genre)
genre_max.most_common(1)

[('Drama', 782)]

In [68]:
answers['11'] = 'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [67]:
data[(data.profit > 0)].genres.str.split('|').explode().describe()

count      3962
unique       18
top       Drama
freq        560
Name: genres, dtype: object

In [69]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [120]:
new_data = data.copy()
new_data['dirs'] = new_data['director'].str.split('|')
dirs_cut = new_data.explode('dirs')
group = dirs_cut.groupby(['dirs']).revenue.sum()
group.sort_values(ascending=False)

dirs
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

In [119]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [264]:
nd = data[data.genres.str.contains("Action")].copy()
nd['dirs'] = nd['director'].str.split('|')
dirs_cut = nd.explode('dirs')
dirs_cut['dirs'].value_counts(ascending=False)

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Antoine Fuqua         6
Ridley Scott          6
                     ..
David Leitch          1
Jim Gillespie         1
John Carpenter        1
Kurt Wimmer           1
JosÃ© Padilha         1
Name: dirs, Length: 364, dtype: int64

In [205]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [254]:
dd = data[(data['release_year'] == 2012)&(dd.revenue == dd.revenue.max())].copy()
dd['new_cast'] = dd['cast'].str.split('|')
cast_cut = dd.explode('new_cast')
cast_cut

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,new_cast
970,tt0848228,220000000,1519557910,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012,Robert Downey Jr.
970,tt0848228,220000000,1519557910,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012,Chris Evans
970,tt0848228,220000000,1519557910,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012,Mark Ruffalo
970,tt0848228,220000000,1519557910,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012,Chris Hemsworth
970,tt0848228,220000000,1519557910,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012,Scarlett Johansson

In [255]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [263]:
dd = data[data['budget'] > data['budget'].mean()].copy()
dd['new_cast'] = dd['cast'].str.split('|')
cast_cut = dd.explode('new_cast')
cast_cut['new_cast'].value_counts(ascending=False)

Matt Damon                18
Adam Sandler              17
Angelina Jolie            16
Tom Cruise                15
Eddie Murphy              15
                          ..
Roscoe Lee Browne          1
Tom Welling                1
Thomas Brodie-Sangster     1
Taylor Momsen              1
Max Minghella              1
Name: new_cast, Length: 1505, dtype: int64

In [260]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [269]:
dd = data[data.cast.str.contains("Nicolas Cage")].copy()
dd['new_genres'] = dd['genres'].str.split('|')
genres_cut = dd.explode('new_genres')
genres_cut['new_genres'].value_counts(ascending=False)

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Mystery             3
Family              3
History             2
Horror              1
War                 1
Romance             1
Name: new_genres, dtype: int64

In [ ]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [284]:
dd = data[data.production_companies.str.contains("Paramount Pictures")].copy()
dd[dd['profit'] == dd['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

In [288]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [325]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

In [326]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [331]:
dd = data[data.production_companies.str.contains("Warner Bros")].copy()
dd.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

In [332]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [ ]:
data.groupby(['release_date'])['revenue'].sum().sort_values(ascending=False).head(1)

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [312]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'17': 'K-19: The Widowmaker (tt0267626)',
 '18': 'K-19: The Widowmaker (tt0267626)'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)